cloud_id                 = "exampleb1galasd21kt1"
folder_id                = "exampleb1gk3tdasd7ad"
zone                     = "ru-central1-a"
public_key_path          = "~/.ssh/example.pub"
private_key_path         = "~/.ssh/example"
image_id                 = "examledsasadadasd123"
subnet_id                = "exampleade9b659sada1"
service_account_key_file = "key.json"
instance_count           = "1"
app_disk_image           = "examplesdfd8ra221232"
db_disk_image            = "exampleasdada3frb5r8"
s3_access_key            = "exampleasdadasdasdas"
s3_secret_key            = "ExampleYadoN0VLYPjI6jclxslasda123131sda"
bucket_name              = "terraform-stage-example"
enable_provision         = true
