cloud_id                 = "asdqwe"
folder_id                = "qweasd"
zone                     = "ru-central1-a"
service_account_key_file = "terraform.json"
access_key               = "testYajsdjaYYhasdasdjajds"
secret_key               = "testsdfmsf,sm.dfm.sf.sdfc"
